{:paths ["src"]
 :deps {eftest/eftest {:mvn/version "0.5.9"}
        cloverage/cloverage {:mvn/version "1.2.1"}
        ; using `0.4.2` for cloverage compatibility
        org.clojure/tools.cli {:mvn/version "0.4.2"}}
 :aliases
 {:dev {:extra-deps {org.clojure/clojure {:mvn/version "1.10.1"}}}

  :test {:extra-paths ["test"]
         :extra-deps {com.cognitect/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner"
                       :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
         :main-opts ["-m" "cognitect.test-runner"
                     "-d" "test"]}

  :build {:extra-deps {seancorfield/depstar {:mvn/version "1.1.117"}}
          :main-opts ["-m" "hf.depstar.jar" "eftest-coverage.jar"]}

  :install {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
            :main-opts ["-m" "deps-deploy.deps-deploy" "install" "eftest-coverage.jar"]}

  :deploy {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
           :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "eftest-coverage.jar"]}
           
  ; One more time
  :slim {:deps {io.github.abogoyavlensky/slim {:mvn/version "0.2.2"}
                slipset/deps-deploy {:mvn/version "0.2.2"}}
         :ns-default slim.lib
         :exec-args {:version "0.1.6"
                     :lib abogoyavlensky/eftest-coverage
                     :url "https://github.com/abogoyavlensky/eftest-coverage"
                     :description "Test coverage for Eftest Clojure test runner using Cloverage."
                     :developer "Andrey Bogoyavlenskiy"}}}}
